@model SmartAdminSaludsa.Models.ForgotPasswordViewModel
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="well no-padding">

            <form asp-action="ForgotPassword" method="post" novalidate="novalidate" class="smart-form client-form">
                <header>
                    <b> Recuperar contrase&ntilde;a</b>
                </header>
                <fieldset>

                    <section>
                        <div asp-validation-summary="All" class="alert alert-danger"></div>
                    </section>
                    <section class="col col-lg-12">
                        <img src="~/img/logo_saludsa.png" class="margin-top-10" style="width:inherit" alt="Saludsa">
                    </section>
                    <section class="col col-lg-12">
                    </section>
                    <section>
                        <label class="label">Ingrese su correo electr&oacute;nico</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="email" asp-for="Email">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Por favor ingrese su correo electr&oacute;nico para resetear su contrase&ntilde;a .</b>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </label>
                        <br />
                        <div class="note">
                            <a asp-controller="Account" asp-action="Login">&iexcl; Ya recuerdo mi contrase&ntilde;a !</a>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary" id="btn-guardar">
                        <i class="fa fa-refresh"></i> Resetear contrase&ntilde;a
                    </button>
                </footer>
            </form>

        </div>
    </div>
</div>
<!-- /.modal -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
