<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form id="login-form" class="smart-form client-form">
                <header>
                    <b> Contrase&ntilde;a enviada </b>
                </header>
                <fieldset>
                    <section class="col col-lg-12">
                        <img src="~/img/logo_saludsa.png" class="margin-top-10" style="width:inherit" alt="Saludsa">
                    </section>
                    <section class="col col-lg-12"></section>
                    <section>
                        Por favor revise su correo electr&oacute;nico, se ha generado una contrase&ntilde;a temporal.
                    </section>
                </fieldset>
                <footer>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> Pantalla de Ingreso
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>
