@using SmartAdmin.Seed.Configuration
@using SmartAdmin.Seed.Extensions
@inject IOptions<SmartSettings> Settings
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            @{
                if (User.IsInRole(Perfiles.Administrador))
                {
                    <li is-active-route asp-controller="Usuarios">
                        <a href="#" title="Configuraci&oacute;n">
                            <i class="fa fa-lg fa-fw fa-users">
                            </i> <span class="menu-item-parent">Usuarios</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="Usuarios" asp-action="Index">
                                <a asp-controller="Usuarios" asp-action="Index" onclick="cargando()" title="Usuarios">
                                    <i class="fa fa-lg fa-fw fa-user-circle"></i>
                                    <span class="menu-item-parent">Usuarios</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                if (User.IsInRole(Perfiles.GestorSaludsa) || User.IsInRole(Perfiles.Administrador))
                {
                    <li is-active-route asp-controller="CreditoFarmacia">
                        <a href="#" title="Configuraci&oacute;n">
                            <i class="fa fa-lg fa-fw fa-users">
                            </i> <span class="menu-item-parent">Farmacia</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="CreditoFarmacia" asp-action="Negativas">
                                <a asp-controller="CreditoFarmacia" asp-action="Negativas" onclick="cargando()" title="Negativas">
                                    <i class="fa fa-lg fa-fw fa-user-circle"></i>
                                    <span class="menu-item-parent">Negativas</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                if (User.IsInRole(Perfiles.AdministradorFarmacia) || User.IsInRole(Perfiles.Administrador)|| User.IsInRole(Perfiles.GestorFarmacia))
                {

                    <li is-active-route asp-controller="CreditoFarmacia">
                        <a href="#" title="Prestadores">
                            <i class="fa fa-lg fa-fw fa-address-book">
                            </i> <span class="menu-item-parent">Prestadores</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="CreditoFarmacia" asp-action="Creditos">
                                <a asp-controller="CreditoFarmacia" asp-action="Creditos" onclick="cargando()" title="Buscar">
                                    <i class="fa fa-lg fa-fw fa-shopping-cart"></i>
                                    <span class="menu-item-parent">Buscar cr&eacute;ditos</span>
                                </a>
                            </li>
                           
                    </li>
                }
               
            }
            
        </ul>
       
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->
